apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml

configMapGenerator:
- name: app-config
  literals:
    - KAFKA_BROKERS=kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local:9092
    - MESSAGE_TOPIC=messages
    - NOTIFY_TOPIC=notify-messages
    - CONSUMER_GROUP=notify-consumer
    - PORT=8080

secretGenerator:
- name: app-secrets
  literals:
    - DB_CONN=postgres://postgres:postgres@postgres.postgres.svc.cluster.local:5432/messages?sslmode=disable