apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ingress-nginx
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
spec:
  project: default
  source:
    repoURL: https://kubernetes.github.io/ingress-nginx
    targetRevision: 4.14.1
    chart: ingress-nginx
    helm:
      values: |
        controller:
          # Required for Kind: Use NodePort instead of LoadBalancer
          service:
            type: NodePort
          # Required for Kind: Bind to port 80/443 on the container node
          hostPort:
            enabled: true
          # Optimization: Disable webhook to speed up local lab startup
          admissionWebhooks:
            enabled: false
          # Optimization: Run only 1 replica for local dev
          replicaCount: 1
  destination:
    server: https://kubernetes.default.svc
    namespace: ingress-nginx
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true