apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: frontend
  labels:
    app: frontend
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: conicle/dso-exam-01-frontend:v1.0.1
          env:
            - name: NODE_ENV
              value: production
            - name: NEXT_PUBLIC_INTERNAL_BACKEND_API_URI
              value: "http://backend.backend.svc.cluster.local:8080"
            - name: NEXT_PUBLIC_BACKEND_API_URI
              value: "http://message.localhost/api"
          ports:
            - containerPort: 3000
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 15
