apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: frontend
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
